<style>
#AddBRDialog .modal-dialog {
	width: 750px;
}
</style>
<section class="content-header">
	<h1>{{translate('MANAGE_BUSINESS_RULES','Manage Business Rules')}}</h1>
	<ol class="breadcrumb">
	<li>{{translate('MANAGE_DATA','Manage Data')}}</li>
		<li class="active">{{translate('MANAGE_BUSINESS_RULES','Manage Business Rules')}}</li>
	</ol>
</section>
<section class="content">
	<div class="col-md-12" style="padding: 0px;">
		<div class="box box-primary">
			<div class="box-body" id="ManageBusinessRules"></div>
		</div>
	</div>

</section>