<section class="content-header">
	<h1>
		{{translate('MONITOR_DATA_FILE_STATUS','View File Process Status')}}
		<!-- <small>Control panel</small> -->
	</h1>
	<ol class="breadcrumb">
		<li>{{translate('MANAGE_DATA','Manage Data')}}</li>
		<li class="active">{{translate('MONITOR_DATA_FILE_STATUS','View File Process Status')}}</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-sm-1" >
		</div>
		<div class="col-sm-10" >
			<div class="box box-primary" >
				<div class="box-body" id="MonitorDataFileStatus">
					<!-- <table id="monitorDataFileStatusTableId" datatable="" dt-options="dtOptionsMonitorDataFileStatus" dt-columns="dtColumnsMonitorDataFileStatus" dt-instance="dtInstanceMonitorDataFileStatus"  class="table table-bordered table-striped" width="100%" /> -->
				</div>
			</div>
		</div>
		<div class="col-sm-1" >
		</div>
	</div>
	<div class="modal fade" id="ModalFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{translate('DETAILS','Details')}}</h4>
				</div>
				<div class="modal-body">
					<table id="monitorDataFileStatus" class="table table-bordered table-striped" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>{{translate('SOURCE_TYPE','Source Type')}}</th>
								<th>{{translate('STATUS','Status')}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{translate('SIEBEL','Siebel')}}</td>
								<td>{{translate('FAILED_DUE_TO_FILE_FORMAT_MISMATCH','Failed due to File Format mismatch')}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{{translate('CLOSE','Close')}}</button>
				</div>
			</div>
		</div>
	</div>
</section>