<style>
#save .modal-dialog {
	width:900px !important;
}

.col-md-2, .col-md-1{
	padding:0px 5px;
}
</style>
<section class="content-header ViewExceptions">
	<h1>
		{{translate('REPROCESS_PROMOTIONS','Reprocess Promotions')}}
	</h1>
	<ol class="breadcrumb">
		<li>{{translate('MANAGE_WORKFLOW','Manage Workflow')}}</li>
		<li class="active">{{translate('REPROCESS_PROMOTIONS','Reprocess Promotions')}}</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row" style="margin:0px;" >
		<!-- <div class="col-md-12">
			<div class="box box-primary ">
				<div class="box-header with-border">
					<h3 class="box-title">{{translate('DATA_FILTER','Data Filter')}}</h3>
					
					<label style="margin-left:15px;"><input type="radio" name="viewExceptionDatasetType" class="minimal" value="EYNTK" ng-change="datasetTypeChange('EYNTK')" ng-model="dataType" style="vertical-align: middle; margin-top: -2px;">&nbsp; EYNTK</label>
					<label style="margin-left:5px;"><input type="radio" name="viewExceptionDatasetType" class="minimal" value="OPSO" ng-change="datasetTypeChange('OPSO')" ng-model="dataType" style="vertical-align: middle; margin-top: -2px;">&nbsp; OPSO</label>
						
					<div class="box-tools pull-right">
						<button class="btn btn-primary" ng-click="export()">{{translate('EXPORT','Export')}}</button>
						<button class="btn btn-primary" id="reprocessPromotions">{{translate('REPROCESS','Re-Process')}}</button>
						<button class="btn btn-primary" id="saveChanges">{{translate('SAVE_CHANGES','Save Changes')}}</button>
						<button class="btn btn-primary" ng-click="clearFilter()">{{translate('CLEAR_FILTER','Clear Filter')}}</button>
						<button class="btn btn-primary" ng-click="applyFilter()">{{translate('APPLY_FILTER','Apply Filter')}}</button>
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
					/.box-tools
				</div>
				/.box-header
				<div class="box-body">
					<div class="row customRow">
						<div class="col-md-1 form-group" style="margin: 0px 7px 0px 8px;float: left;">
						<label>{{translate('STATUS','Status')}}</label>
						<select id="viewExceptionsStatusSelect" class="" size="2" multiple="multiple" style="width: 100%"></select>
						 </div>
						<div class="col-md-11 row" style="padding-left: 3px;">
						<div class="col-md-2 form-group ">
							<label>{{translate('PROMO_STATUS','Promo Status')}}</label>
							<select id="viewExceptionspPromoStatusSelect" class="" size="2" multiple="multiple" style="width: 100%"></select>
						</div>
						<div class="col-md-2">
							<label id="dateLabel" >{{translate('SHIPMENT_START_DATE','Shipment Start Date')}}</label>
							<div class="input-group" style="width:100%">
								<input type="text" id="viewExceptionsInstoredate" class="form-control pull-right input-disabled" name="datefilter"  placeholder="Select Date Range"  style="width: 100%" readonly>
							</div>
						</div>
						
						<div class="col-md-2">
							<label>{{translate('CUSTOMER','Customer')}}</label>
							<select id="viewExceptionsCustomerSelect" class="" size="2" multiple="multiple" style="width: 100%"></select>
						</div>
						<div class="col-md-2">
							<label>{{translate('CATEGORY','Category')}}</label> 
							<select id="viewExceptionsCategorySelect" class="" size="2" multiple="multiple" style="width: 100%"></select>
						</div>
						<div class="col-md-2">
							<label>{{translate('BRAND','Brand')}}</label> 
							<select id="viewExceptionsBrandSelect" class="" size="2" multiple="multiple" style="width: 100%"></select>
						</div>
						<div class="col-md-2 ">
							<label id="bizRuleLabel">{{translate('ACTION_RULES','Action Rules')}}</label>
							<select id="viewExceptionsBizRuleSelect" class="" size="2" multiple="multiple" style="width: 100%"></select>
						</div>
						</div>
					</div>
				</div>
				/.box-body
			</div>
			/.box
		</div>
		/.col
	</div> -->
	<div class="row" style="margin:0px;">
	<div class="box box-primary">
		<div class="box-body" id="ReprocessPromotions">
			<!-- <table id="ViewExceptionsTableId" datatable="" dt-options="dtOptionsViewExceptions" dt-columns="dtColumnsViewExceptions" dt-instance="dtInstanceViewExceptions"  class="table table-bordered table-striped" cellspacing="0" width="100%" /> -->
		</div>
		<!-- <div class="box-body" id="OverlappingPromotios">
			<table id="ViewExceptionsTableId" datatable="" dt-options="dtOptionsViewExceptions" dt-columns="dtColumnsViewExceptions" dt-instance="dtInstanceViewExceptions"  class="table table-bordered table-striped" cellspacing="0" width="100%" />
		</div> -->
	</div>
</div>

</section>
