<!--  <script type="text/javascript">

var myWindow = window.open("https://peatableau-db01.upeadev.com/#/site/UnileverPEADev/views/PEA_Demo/SankeyViewOfPromotion?:refresh=true&::showVizHome=no&:embed=true", "_blank");
window.location.href("/");
</script>-->

<!-- <iframe src="http://localhost/#/site/CPGDemo/views/CPGEventAnalytics/CPGDemoHomePage?:refresh=true&::showVizHome=no&:embed=true"
 width="100%" height="600"></iframe> -->
 
<!-- <iframe ng-src="iFrameReportURL" width="100%" height="600"></iframe> -->

<div id="iFrameDivId"></div>







 


