<section class="content-header">
	<h1>
		{{translate('VIEW_WEEKLY_PROMOTIONS','View Weekly Promotions')}}
	</h1>
	<ol class="breadcrumb">
		<li>{{translate('VIEW_DATA','View Data')}}</li>
		<li class="active">{{translate('VIEW_WEEKLY_PROMOTIONS','View Weekly Promotions')}}</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="box box-primary">
		<div class="box-body" id="ViewWeeklyPromotion">
			<!-- <table id="viewWeeklyPromotionTableId" datatable="" dt-options="dtOptionsViewWeeklyPromotion" dt-columns="dtColumnsViewWeeklyPromotion" dt-instance="dtInstanceViewWeeklyPromotion"  class="table table-bordered table-striped" cellspacing="0" width="100%" /> -->
		</div>
	</div>
</section>