<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img id="sideMenuUSerImg" src="${sessionScope.userPhoto}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>${sessionScope.USERNAME}</p>
			</div>
		</div>
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">{{translate('MENU', 'Menu')}}</li>
			<!-- <li class="active" ng-click="menuClick('Home',$event)">
				<a href="dashboard" >
				<i class="fa fa-home"></i> <span>Home</span></i>
				</a>
			</li>
			<li class="treeview">
				<a >
				<i class="fa fa-th"></i> 
				<span>Manage Data</span> 
				<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li ng-click="menuClick('Configure Data Files',$event)" ><a href="#configureDataFiles"><i class="fa fa-files-o"></i><span>Configure Data Files</span></a></li>
					<li class="uploadFileLi"  ng-click="menuClick('Upload Data File',$event)" ><a href="#fileUpload"><i class="fa fa-upload"></i><span>Upload Data File</span></a></li>
					<li ng-click="menuClick('Monitor Data File Status',$event)"><a href="#monitorDataFileStatus"><i class="fa fa-file-text-o"></i> <span>Monitor Data File Status</span></a></li>
					<li ng-click="menuClick('Manage Lookup Tables',$event)"><a href="#manageLookupTables"><i class="fa fa-table"></i><span> Manage Lookup Tables</span></a></li>
					<li ng-click="menuClick('Mapping Data',$event)"><a href="#mappingData"><i class="fa fa-chain"></i><span>Mapping Data</span></a></li>
				</ul>
			</li>
			<li ng-click="menuClick('Monitor Job Logs',$event)"  >
				<a href="#monitorJobLogs" >
				<i class="fa fa-pencil-square-o"></i> 
				<span>Monitor Job Logs</span>
				</a>
			</li>
			<li class="treeview">
				<a >
				<i class="fa fa fa-eye"></i> 
				<span>View Data</span>
				<i class="fa fa-angle-left pull-right"></i></i>
				</a>
				<ul class="treeview-menu">
					<li ng-click="menuClick('View Hierarchies',$event)"  ><a href="#viewHierarchies"><i class="fa fa-sitemap"></i><span>View Hierarchies</span></a></li>
					<li ng-click="menuClick('View Exceptions/Actions',$event)"  ><a href="#viewExceptions"><i class="fa fa-calendar-check-o"></i><span>View Exceptions/Actions</span></a></li>
					<li ng-click="menuClick('View Promoted Products',$event)"  ><a href="#viewPromotedProducts"><i class="fa fa-random"></i><span>View Promoted Products</span></a></li>
					<li ng-click="menuClick('View Weekly Promotions',$event)"  ><a href="#viewWeeklyPromotions"><i class="fa fa-list"></i><span>View Weekly Promotions</span></a></li>
					<li ng-click="menuClick('View Data Availability Stats',$event)"  ><a href="#viewDataAvailability"><i class="fa fa-th-large"></i><span>View Data Availability Stats</span></a></li>
					<li ng-click="menuClick('Configure Data Views',$event)"  ><a href="#viewDataConfig"><i class="fa fa-gears"></i><span>Configure Data Views</span></a></li>
				</ul>
			</li>
			<li class="treeview">
				<a  >
				<i class="fa fa-database"></i> 
				<span>Manage Datasets</span>
				<i class="fa fa-angle-left pull-right"></i></i>
				</a>
				<ul class="treeview-menu">
					<li ng-click="menuClick('Create Datasets',$event)"   ><a href="#createDatasets"><i class="fa fa-pencil"></i><span>Create Datasets</span></a></li>
					<li ng-click="menuClick('Export Datasets',$event)"   ><a href="#exportDatasets"><i class="fa fa-upload"></i><span>Export Datasets</span></a></li>
				</ul>
			</li>
			<li ng-click="menuClick('User Profile',$event)"   >
				<a href="#userProfile" >
				<i class="fa fa-user"></i> <span>User Profile</span></i>
				</a>
			</li> -->
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>